.profile{
  border: 1px solid black;
  margin: 2rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-weight: bold;
  padding: 10px 0;
  width: 50%;
}

.avatar{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 1px solid black;
}